name: Wealth Monitor Schedule

on:
  workflow_dispatch:
  schedule:
    # - cron: "17 * * * *"
    - cron: "* * * * *"

jobs:
  run-script:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 1
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.x"
      - name: Install dependencies
        run: |
          pip install -r requirements.txt
      - name: Run script
        env:
          CHAT_ID: ${{ secrets.CHAT_ID }}
          BOT_TOKEN: ${{ secrets.BOT_TOKEN }}
          G24K: ${{ secrets.G24K }}
          G22K: ${{ secrets.G22K }}
          G21K: ${{ secrets.G21K }}
          G18K: ${{ secrets.G18K }}
          EGP_C: ${{ secrets.EGP_C }}
          USD_C: ${{ secrets.USD_C }}
          CHAT_IDZ: ${{ secrets.CHAT_IDZ }}
          G24KZ: ${{ secrets.G24KZ }}
          G22KZ: ${{ secrets.G22KZ }}
          G21KZ: ${{ secrets.G21KZ }}
          G18KZ: ${{ secrets.G18KZ }}
          EGP_CZ: ${{ secrets.EGP_CZ }}
          USD_CZ: ${{ secrets.USD_CZ }}
        run: |
          python WealthMonitorBot.py

